.header {
	background-color:#c0c0c0;
	
	}
.header-title  {
	float:left;
	position:absolute; top:30px; left:180px;
	font-family:"MS P明朝",serif";
	}
.header li {
	list-style:none;
	}
.header-list {
	float:right;
	}
.header-list li {
	float:left;
	padding-left:200px;
	margin-top:40px;
	margin-right:40px;
	font-family:fantasy;
	}
.header-logo {
	margin-left:10px;
	}
.main-title {
	color:white;
	position:absolute; top:300px; left:420px;
	font-size:50px;
	font-family:"MS P明朝",serif;
	}
.main-sub {
	font-size:11px;
	color:white;
	position:absolute; top:480px; left:100px;
	font-family:"MS P明朝",serif;
	}
.a {
	margin-left:90px;
	}
.c {
	margin-left:440px;
	}
.history {
	font-family:"MS P明朝",serif;
	background-color:rgba(255,255,255,0.6);
	border-radius:5px;
	padding:3px 15px;
	position:absolute; top:650px; left:570px;
	}
.famous {
	font-family:"MS P明朝",serif;
	background-color:rgba(255,255,255,0.6);
	position:absolute; top:780px; left:370px;
	padding:3px 40px;
	border-radius:5px;
	}
.sight-seeing {
	font-family:"MS P明朝",serif;
	background-color:rgba(255,255,255,0.6);
	position:absolute; top:780px; left:780px;
	padding:3px 20px;
	border-radius:5px;
	}
.footer {
	background-color:#333333;
	height:145px;
	position:absolute; top:955px;
	width:1247px;
	color:white;
	font-family:"MS P明朝",serif;
	}
.footer li {
	list-style:none;
	margin-left:930px;
	margin-top:15px;
